# Node.js general
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Directorios de build
dist/
build/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno y configuración local
.env
.env.local
.env.*.local

# Logs y reportes
logs/
*.log
*.out
*.pid

# Cobertura de pruebas
coverage/

# Carpetas temporales
tmp/
temp/

# Archivos de pruebas
jest-test-results.json

# VSCode
.vscode/

# PM2
pids/
*.pid

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Paquetes generados
*.tgz

# Documentación Swagger generada automáticamente
swagger.json
swagger.yaml
docs/
